<%- include('partials/header') %>
<div class="container mt-5">
  <link
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    rel="stylesheet"
  />

  <!-- Seção de Introdução-->
  <h1>Conheça o Integra IF</h1>
  <section
    style="background-color: #ffffff; padding: 20px; border-radius: 10px"
  >
    <p>
      O <strong>Integra IF</strong> é o ponto de encontro das
      <strong>empresas juniores da Rede de Institutos Federais</strong>, criado
      para promover a troca de experiências, o desenvolvimento de soluções
      inovadoras e a divulgação de produtos e serviços. Nossa missão é
      impulsionar o <strong>empreendedorismo universitário</strong> e destacar o
      potencial do <strong>Instituto Federal</strong> no cenário nacional.
    </p>
    <p>
      Acreditamos em três pilares fundamentais: <strong>colaboração</strong>,
      <strong>inovação</strong> e <strong>coletividade</strong>. Juntos, podemos
      transformar o ambiente acadêmico e fortalecer a conexão entre as empresas
      juniores, criando oportunidades para todos os envolvidos.
    </p>
    <p>
      <strong
        >Convidamos sua empresa júnior a fazer parte deste ecossistema:</strong
      >
      cadastre-se e amplie suas oportunidades no Integra IF!
    </p>
    <p>
      <em>*Projeto criado a partir do Edital FABIN n°2/2024 (IFB, FAP-DF).</em>
    </p>
  </section>

  <!-- Seção "Sobre Nós" -->
  <section
    style="
      background-color: #323dba23;
      padding: 20px;
      border-radius: 10px;
      margin-top: 30px;
    "
  >
    <h2>Sobre Nós</h2>
    <p>
      Somos um time de estudantes dos cursos de
      <strong>Tecnologia em Gestão Pública (TGP)</strong> e
      <strong>Tecnologia em Sistemas para Internet (TSI)</strong> do IFB, Campus Brasília. Nosso
      objetivo é valorizar o <strong>protagonismo estudantil</strong> e
      evidenciar o impacto das empresas juniores na formação acadêmica e no
      desenvolvimento de soluções que promovem a transformação social e
      econômica.
    </p>
    <p>
      Com o <strong>Integra IF Hub</strong>, queremos integrar talentos,
      inspirar novas ideias e construir um futuro onde as empresas juniores
      sejam agentes ativos na transformação de nossa sociedade.
    </p>
  </section>

  <!-- Seção de Fundadores -->
  <section class="founders-section">
    <div class="founders-container">
      <div class="founders-image">
        <img title="Lalia Sadio > Thaís Silva > Gabriela Marques > Maria Urias > Pablo Miranda "
          src="img/HUB.jpg"
          alt="Colaboradores Integra IF"
          class="custom-image"
        />
        <!-- Legenda que aparece ao passar o mouse -->
        <div class="image-caption">
          Lalia Sadio> Thaís Silva> Gabriela Marques> Maria Urias> Pablo Miranda
        </div>
      </div>
      <div class="founders-text">
        <h3>Fundadores do Integra IF Hub</h3>
        <ul>
          <a id="linked1" href="" target="_blank"><li><strong id="linked">Gabriela Marques Santos</strong> (TGP)</li></a>
          <a id="linked1" href="https://www.linkedin.com/in/lalia-sadio/" target="_blank"><li><strong id="linked">Lalia Haidara Santos Sadio</strong> (TSI)</li></a>
          <a id="linked1" href="https://www.linkedin.com/in/maria-vit%C3%B3ria-u-5722bb269/" target="_blank"><li><strong id="linked">Maria Vitória Urias Santos</strong> (TSI)</li></a>
          <a id="linked1" href="https://www.linkedin.com/in/pablo-miranda-729a961a6/" target="_blank"><li><strong id="linked">Pablo Miranda Rocha Costa</strong> (TSI)</li>
          <a id="linked1" href="https://www.linkedin.com/in/tha%C3%ADssilva3/" target="_blank"><li><strong id="linked">Thaís Vitória Oliveira da Silva</strong> (TSI)</li></a>
        </ul>
      </div>
    </div>
  </section>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

  h1 {
    font-family: "Sora", sans-serif;
    color: #323eba;
    font-size: 45px;
    text-align: center;
  }

  p {
    font-size: 1.2rem;
  }

  section p {
    text-align: justify;
  }

  h2,
  h3 {
    font-family: "Poppins", sans-serif;
    color: #323eba;
    font-weight: 700;
  }

  #linked, #linked1 {
    text-decoration: none;
    color: #d9043d; /* Cor inicial do texto */
    font-weight: bold;
    transition: color 0.3s ease; /* Suavidade na mudança de cor */
  }

  #linked1 {
    color: #323eba; /* Cor inicial específica para linked1 */
  }

  #linked:hover, #linked1:hover {
    color: #271491; /* Cor do texto no hover */
  }

  strong {
    color: #d9043d;
  }

  .founders-container {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: justify;
  }

  .founders-text {
    flex: 1;
  }

  .founders-image {
    flex: 1;
    text-align: justify;
    position: relative; /* Para posicionar a legenda sobre a imagem */
  }

  .custom-image {
    width: 90%;
    height: auto;
    border-radius: 30px;
    margin: 0 auto;
    transition: opacity 0.6s ease;
  }

  .image-caption {
    position: absolute;
    top: 95%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    width: 80%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6); /* Fundo semitransparente */
    color: white;
    font-size: 0.8rem;
    padding: 10px;
    border-radius: 70px;
    display: none; /* Inicialmente escondido */
    transition: opacity 0.4s ease;
  }

  .founders-image:hover .image-caption {
    display: block; /* Torna o texto visível quando a imagem é sobrevoada */
  }

  em {
    font-style: italic;
    color: #555;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  ul li {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin-bottom: 8px;
  }

  section {
    margin-bottom: 30px;
  }

  /* EFEITO NA IMAGEM DOS FUNDADORES */
  body :not(footer) .founders-image {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 90%;
    border-radius: 30px;
  }

  body :not(footer) .founders-image img {
    display: block;
    width: 100%;
    height: auto;
    transition: all 0.6s ease;
    border-radius: 30px;
  }

  body :not(footer) .founders-image:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 62, 186, 0.5); /* Azul que estávamos usando */
    z-index: 1;
    border-radius: 30px;
    opacity: 0;
    transition: opacity 0.6s ease;
  }

  body :not(footer) .founders-image:hover::before {
    opacity: 1;
  }
</style>

<%- include('partials/footer') %>
